@page
@model ResourceAssignAdmin.Pages.Upgrade.ContactModel
@{
    ViewData["Title"] = "Contact";
}
<div class="mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow-lg rounded-lg p-5">
                <h1 class="text-center mb-4">Contact Us</h1>
                <div class="text-center">
                    <p class="mb-2"><strong>Email:</strong> <a href="mailto:area1110@outlook.com" class="text-decoration-none">area1110@outlook.com</a></p>
                    <p class="mb-2"><strong>Phone:</strong> <a href="tel:+84777287326" class="text-decoration-none">+84777287326</a></p>
                    <p class="mb-2"><strong>Address:</strong> Hoa Lac, Thach That, Hanoi, VietNam</p>
                    <p><strong>Follow us on social media:</strong></p>
                    <div class="social-icons">
                        <a href="#" class="me-3"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="me-3"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="me-3"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>